@import url(aos.css);
@import "../bootstrap-5.0.2/scss/bootstrap.scss";
@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html {
	@include media-breakpoint-down(md) {
		font-size: 0.75rem;
		&.scrollNone {
			overflow: hidden;
		}
	}
}
.kcraedu {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 2px);
	//reset
	ul,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	p,
	dl,
	dt,
	dd {
		margin: 0;
	}
	p {
		word-break: keep-all;
	}
	a {
		text-decoration: none;
	}
	hr {
		opacity: 1;
	}

	//common
	.pc {
		display: block;
	}
	.mo {
		display: none;
	}
	@include media-breakpoint-down(md) {
		.pc {
			display: none;
		}
		.mo {
			display: block;
		}
	}

	//layout
	header {
		border-bottom: 0.063rem solid #d9d9d9;
		.header {
			position: relative;
			padding: 1.25rem 0 2.5rem;
			.container {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			&__bottom {
				position: relative;
				@include media-breakpoint-down(xl) {
					&.container {
						display: block;
					}
				}
			}
			&__wrap {
				//display: none;
				.header__logo {
					display: block;
				}
			}
			&__logo {
				display: none;
			}
			&__gnb {
				display: flex;
				@include media-breakpoint-down(xl) {
					margin-top: 20px;
				}
				@include media-breakpoint-down(lg) {
					margin-top: 15px;
				}
				&-item {
					position: relative;
					margin-left: 2.25rem;
					&:first-child {
						margin-left: 0;
					}
					> a {
						font-weight: 500;
						font-size: 1.375rem;
						line-height: 2.063rem;
						color: #222222;
					}
					> ul {
						display: none;
						position: absolute;
						bottom: 0;
						left: 0;
						transform: translateY(100%);
					}
					&:hover {
						> ul {
							display: block;
						}
					}
					@include media-breakpoint-down(lg) {
						> a {
							font-size: 1.25rem;
						}
					}
				}
			}
			&__menu {
				margin-bottom: 1rem;
				&-item {
					margin-left: 1.625rem;
					font-weight: 500;
					font-size: 1rem;
					line-height: 1.5rem;
					color: #666666;
				}
			}
			&__info {
				display: none;
				width: 100%;
				padding: 1.875rem 1.25rem 1.875rem 1.25rem;
				border-bottom: 0.063rem solid #d9d9d9;
				&-name {
					margin-bottom: 0.625rem;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.688rem;
					color: #222;
					strong {
						font-weight: 500;
						color: #3766de;
					}
				}
				dl {
					margin-bottom: 1.25rem;
					dt {
						font-weight: 500;
						font-size: 0.875rem;
						line-height: 1.313rem;
						/* identical to box height */

						/* #999999 */

						color: #999999;
					}
					dd {
						margin-top: 0.313rem;
						font-weight: 500;
						font-size: 1.125rem;
						line-height: 1.688rem;
						/* identical to box height */

						color: #e08700;
					}
				}
			}
			$bao-bun: 2rem;
			$bao-burger: 0.188rem;
			&__navbar {
				position: absolute;
				top: 0;
				right: 1.25rem;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				display: none;
				z-index: 250;
				input#menuToggle {
					display: none;
				}

				label.burger-bao {
					display: block;
					cursor: pointer;
					width: $bao-bun;
					height: $bao-bun;
					border: 0;

					span,
					span:before,
					span:after {
						display: block;
						height: $bao-burger;
						background: #222;
						transition: all 0.5s;
						backface-visibility: hidden;
					}

					span {
						position: relative;
						width: 88%;
						margin: ($bao-bun / 2-$bao-burger / 2) auto;
						border-radius: 3px;
					}

					span:before,
					span:after {
						width: 100%;
						position: absolute;
						content: "";
						border-radius: 3px;
					}

					span:before {
						top: -$bao-bun / 4;
					}
					span:after {
						top: $bao-bun / 4;
					}
				}

				input#menuToggle:checked + label > span:before {
					transform: translate(0px, $bao-bun / 4) rotate(-90deg);
					opacity: 0;
				}
				input#menuToggle:checked + label > span:after {
					transform: translate(0px, -$bao-bun / 4) rotate(-90deg);
				}
				input#menuToggle:checked + label > span {
					transform: rotate(45deg);
					width: 100%;
				}
			}
		}
		@include media-breakpoint-down(md) {
			.header {
				padding: 1.625rem 0 1.875rem;
				.container {
					justify-content: flex-start !important;
				}
				&__wrap {
					position: fixed;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					//padding: 0 0.75rem;
					background: #fff;
					overflow-y: auto;
					z-index: 200;
					display: none;
					.header__logo {
						display: none;
					}
				}
				&__logo {
					display: block;
					img {
						width: 15.625rem;
					}
				}
				&__gnb {
					display: block;
					&-item {
						margin: 0;
						padding: 1.25rem;

						> a {
							font-weight: 500;
							font-size: 1.5rem;
							line-height: 2.25rem;
							color: #222222;
						}
						> ul {
							display: none;
							margin-top: 0.625rem;
							position: static;
							transform: translateY(0);
							li {
								margin-top: 0.625rem;
								&:first-child {
									margin-top: 0;
								}
								a {
									font-weight: 500;
									font-size: 1.125rem;
									color: #666666;
								}
							}
						}
						&:hover {
							> ul {
								display: none;
							}
						}
						&.active {
							> ul {
								display: block;
							}
						}
					}
				}
				&__menu {
					width: 100%;
					margin-bottom: 0;
					padding: 3rem 1.25rem 1.875rem;
					border-bottom: 0.063rem solid #d9d9d9;
					&-item {
						display: block;
						width: 6.25rem;
						margin: 0.625rem 0 0 0;
						font-weight: 500;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #999999;
						&:first-child {
							margin-top: 0;
						}
						&--remote {
							display: none;
						}
					}
				}
				&__info {
					//display: none;
				}
				&__navbar {
					display: flex;
				}
			}
		}
	}
	&--login {
		header {
			@include media-breakpoint-down(md) {
				.header__menu {
					display: none;
				}
				.header__info {
					display: block;
				}
			}
		}
	}
	&--menu {
		header {
			.header__wrap {
				display: block;
			}
		}
	}
	main {
		min-height: 41.25rem;
		padding-bottom: 10rem;
	}
	footer {
		margin-top: auto;
		padding: 0 0 4.875rem 0;
		background: #f8f8f8;
		border-top: 0.063rem solid #e5e5e5;
		.footer {
			&__menu {
				margin-bottom: 2.5rem;
				padding: 1.25rem 0;
				border-bottom: 0.063rem solid #e5e5e5;
				&-item {
					margin-right: 1.625rem;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.688rem;
					color: #222222;
				}
			}
			address {
				font-weight: 500;
				font-size: 1rem;
				line-height: 1.5rem;
				color: #999999;
				word-break: keep-all;
				a {
					color: #999999;
				}
			}
		}
		@include media-breakpoint-down(md) {
			padding: 0 0 2rem 0;
			.footer {
				&__menu {
					&-item {
						display: block;
						margin-top: 0.5rem;
						&:first-child {
							margin-top: 0;
						}
					}
				}
			}
		}
	}
	.contents {
		display: flex;
	}
	.snb {
		width: 13.5rem;
		min-width: 13.5rem;
		margin: 4.375rem 6.25rem 0 0;
		&__title {
			margin: 0 0 0.625rem 0;
			padding: 0 0 1.875rem 0.625rem;
			border-bottom: 0.188rem solid #222222;
			font-weight: 700;
			font-size: 1.875rem;
			line-height: 2.75rem;
			color: #222222;
		}
		ul {
			li {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 1.875rem 0.625rem;
				border-bottom: 0.063rem solid #d9d9d9;
				a {
					display: block;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.688rem;
					color: #666666;
					word-break: keep-all;
				}
				&:after {
					content: "";
					display: block;
					width: 1.125rem;
					min-width: 1.125rem;
					height: 0.25rem;
					//margin-left: 0.625rem;
					background: #d9d9d9;
				}
				&.active {
					a {
						color: #3766de;
					}
					&:after {
						background: #3766de;
					}
				}
			}
		}
		@include media-breakpoint-down(xl) {
			display: none;
		}
	}

	//page
	&--main {
		header {
			padding-top: 1.5rem;
			background-color: #e2edfa;
			border-bottom: none;
			@include media-breakpoint-down(md) {
				background-color: #fff;
				padding-top: 0;
			}
		}
		main {
			padding-bottom: 4.375rem;
		}
	}
	.main {
		&__head {
			position: relative;
			overflow: hidden;
			padding: 1.875rem 0 3.125rem 0;
			background-color: #e2edfa;
			@include media-breakpoint-down(md) {
				padding: 0 0 2.75rem 0;
				background-color: #fff;
				&::before {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					height: 21.25rem;
					background-color: #e2edfa;
				}
			}
		}
		&__contents {
			padding: 3.125rem 0 0 0;
		}
		&-menu {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			column-gap: 0.75rem;
			@include media-breakpoint-down(xl) {
				grid-template-columns: 1fr 1fr;
				gap: 0.75rem;
			}
			@include media-breakpoint-down(md) {
				grid-template-columns: 1fr;
			}
			&__item {
				position: relative;
				width: 100%;
				min-height: 23.75rem;
				padding: 3.125rem 1.875rem;
				background: #fff;
				border-radius: 1.875rem 1.875rem 1.875rem 0;
				transition: all 0.4s ease;
				overflow: hidden;
				@include media-breakpoint-down(xl) {
					padding: 1.875rem 1.25rem;
				}
				@include media-breakpoint-down(xl) {
					min-height: auto;
					padding: 2.5rem;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 5;
					transition: all 0.2s ease;
					opacity: 0;
				}
				&:nth-child(1) {
					&::after {
						background: #9e64fd;
					}
				}
				&:nth-child(2) {
					&::after {
						background: #4e80ff;
					}
				}
				&:nth-child(3) {
					&::after {
						background: #fdc14d;
					}
				}
				&::before {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 10;
					width: 0;
					height: 0;
					border-bottom: 10rem solid #843ef5;
					border-right: 43.75rem solid rgba(0, 0, 0, 0);
					transition: all 0.2s ease;
					opacity: 0;
					@include media-breakpoint-down(lg) {
						border-bottom-width: 6.25rem;
					}
				}
				&:nth-child(2) {
					&::before {
						border-bottom-color: #315fd5;
					}
				}
				&:nth-child(3) {
					&::before {
						border-bottom-color: #fda116;
					}
				}
				@include media-breakpoint-down(md) {
					&::after,
					&::before {
						opacity: 1;
					}

					.main-menu__item-title {
						color: #fff;
					}
					.main-menu__item-text {
						color: #fff;
						p {
							color: rgba(255, 255, 255, 0.7);
						}
					}
					.main-menu__item-link {
						span {
							color: #fff;
							border-color: #fff;
						}
					}
				}
				&-title {
					position: relative;
					z-index: 20;
					margin-bottom: 1.5rem;
					font-weight: 500;
					font-size: 1.75rem;
					line-height: 2.563rem;
					letter-spacing: -0.04em;
					color: #888888;
					word-break: keep-all;
					transition: all 0.1s ease;
				}
				&-text {
					position: relative;
					z-index: 20;
					margin-bottom: 3.75rem;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.688rem;
					color: #888888;
					word-break: keep-all;
					transition: all 0.1s ease;
					p {
						margin-top: 0.625rem;
						font-weight: 500;
						font-size: 0.875rem;
						line-height: 1.313rem;
					}
				}
				&-button {
					position: relative;
					z-index: 20;
					.btn {
						&:hover {
							background: #fff;
							opacity: 0.9;
						}
					}
				}
				&-link {
					position: absolute;
					bottom: 3.125rem;
					left: 1.875rem;
					z-index: 20;
					span {
						display: inline-block;
						border-bottom: 0.188rem solid #888888;
						font-weight: 500;
						font-size: 1.125rem;
						line-height: 1.688rem;
						color: #888888;
					}
					@include media-breakpoint-down(xl) {
						bottom: 2.5rem;
						left: 2.5rem;
					}
				}
				&--logoff {
					background: #4f80ff;
					border-radius: 1.25rem;
					@include media-breakpoint-down(md) {
						display: none;
					}
					&::before {
						display: none;
					}
					.main-menu__item-text {
						margin-bottom: 2.5rem;
						color: #fff;
						text-align: center;
						@include media-breakpoint-down(xl) {
							margin-bottom: 1.5rem;
						}
					}
					.main-menu__item-button {
						margin-bottom: 1.875rem;
						.btn {
							height: 3.25rem;
							margin-top: 0.625rem;
							border-radius: 0.625rem;
							font-weight: 700;
							font-size: 1.125rem;
							line-height: 1.688rem;
							text-align: center;
							color: #4f80ff;
							border: none;
							&:first-child {
								margin-top: 0;
							}
							&:last-child {
								background: #d7e2ff;
								color: #7c9df5;
							}
						}
					}
					.main-menu__item-link {
						text-align: center;
						bottom: 1.5rem;
						right: 2.5rem;
						a {
							font-weight: 700;
							font-size: 1rem;
							line-height: 1.5rem;
							text-align: center;
							color: rgba(255, 255, 255, 0.5);
						}
					}
				}
				&--login {
					background: #4f80ff;
					border-radius: 1.25rem;
					@include media-breakpoint-down(md) {
						display: none;
					}
					&::before {
						display: none;
					}
					.main-menu__item-info {
						margin-bottom: 2.5rem;
						color: #fff;
						h5 {
							margin-bottom: 1.25rem;
							font-weight: 700;
							font-size: 1.25rem;
							line-height: 1.875rem;
							color: #ffffff;
						}
						table {
							width: 100%;
							th {
								text-align: left;
								font-weight: 400;
								font-size: 1rem;
								line-height: 1.5rem;

								color: rgba(255, 255, 255, 0.6);
							}
							td {
								text-align: right;
								font-weight: 700;
								font-size: 1rem;
								line-height: 1.5rem;
								text-align: right;

								color: #ffffff;
							}
						}
					}
					.main-menu__item-button {
						margin-bottom: 1.875rem;
						.btn {
							height: 3.25rem;
							margin-top: 0.625rem;
							border-radius: 0.625rem;
							font-weight: 700;
							font-size: 1.125rem;
							line-height: 1.688rem;
							text-align: center;
							color: #4f80ff;
							border: none;
							&:first-child {
								margin-top: 0;
							}
							&:last-child {
								background: #d7e2ff;
								color: #7c9df5;
							}
						}
					}
				}
				&:hover:not(.main-menu__item--login):not(.main-menu__item--logoff) {
					&::after,
					&::before {
						opacity: 1;
					}

					.main-menu__item-title {
						color: #fff;
					}
					.main-menu__item-text {
						color: #fff;
						p {
							color: rgba(255, 255, 255, 0.7);
						}
					}
					.main-menu__item-link {
						span {
							color: #fff;
							border-color: #fff;
						}
					}
				}
			}
		}
		&-link {
			display: flex;
			justify-content: space-between;
			margin: 4.375rem 0.625rem 0;
			@include media-breakpoint-down(lg) {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 2.125rem;
				margin: 3.125rem 0 0;
			}
			&__item {
				text-align: center;
				@include media-breakpoint-down(lg) {
					&:first-child {
						display: none;
					}
				}
				span {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 6rem;
					height: 6rem;
					margin: 0 auto;
					background: #ffffff;
					border-radius: 6rem;
					border: 0.063rem solid #e2e5eb;
					transition: all 0.1s ease;
					@include media-breakpoint-down(md) {
						width: 4.875rem;
						height: 4.875rem;
						img {
							width: 3.125rem;
							height: 3.125rem;
						}
					}
				}
				p {
					margin-top: 1.25rem;
					font-weight: 400;
					font-size: 1.125rem;
					line-height: 1.688rem;
					text-align: center;
					color: #445364;
					@include media-breakpoint-down(lg) {
						margin-top: 1rem;
					}
					@include media-breakpoint-down(md) {
						margin-top: 0.625rem;
						font-size: 1rem;
						line-height: 1.5rem;
					}
				}
				&:hover {
					span {
						border: 0.125rem solid #1642b3;
						box-shadow: 0 0.063rem 0.625rem #929ebe;
					}
				}
			}
		}
		&-board {
			display: flex;
			justify-content: space-between;
			width: 100%;
			.board {
				width: 50%;
				&:first-child {
					margin-right: 3.75rem;
				}
				&:last-child {
					margin-left: 3.75rem;
				}
			}
			@include media-breakpoint-down(xl) {
				display: block;
				.board {
					width: 100%;
					&:first-child,
					&:last-child {
						margin: 0 0 3rem 0;
					}
				}
			}
		}
		&-customer {
			display: flex;
			margin-top: 5.625rem;
			@include media-breakpoint-down(lg) {
				display: block;
			}
			&__video {
				width: 34.375rem;
				margin-right: 7.625rem;
				font-size: 0;
				line-height: 0;
				iframe {
					border-radius: 1.875rem;
				}
				@include media-breakpoint-down(xl) {
					margin-right: 3rem;
				}
				@include media-breakpoint-down(lg) {
					width: 100%;
					margin-right: 0;
					iframe {
						width: 100%;
					}
				}
			}
			&__info {
				@include media-breakpoint-down(lg) {
					margin-top: 2rem;
				}
				dl {
					dt {
						margin-top: 1.875rem;
						margin-bottom: 0.313;
						font-weight: 700;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #222222;
						&::before {
							content: "";
							display: block;
							width: 1.25rem;
							height: 0.188rem;
							margin-bottom: 0.625rem;
							background: #d3d3d3;
						}
					}
					dd {
						font-weight: 500;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #222222;
					}
					&:first-child {
						dt {
							margin-top: 0;
							font-weight: 500;
							font-size: 1.625rem;
							line-height: 2.375rem;
							color: #222222;
							&::before {
								display: none;
							}
						}
						dd {
						}
					}
				}
				&-tel {
					a {
						font-weight: 700;
						font-size: 1.625rem;
						line-height: 2.375rem;

						color: #4f80ff;
					}
					span {
						display: block;
						margin-bottom: 0.313;
						font-weight: 500;
						font-size: 0.875rem;
						line-height: 1.313rem;
						color: #888888;
					}
				}
				&-tel02 {
					a {
						font-weight: 700;
						font-size: 1.625rem;
						line-height: 2.375rem;
						color: #222222;
					}
				}
			}
		}
		&-download {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 4.375rem;
			margin-top: 5.625rem;
			border: 0.063rem solid #d3d3d3;
			border-radius: 0.625rem;
			&__item {
				a {
					display: flex;
					align-items: center;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.688rem;
					color: #222222;
					img {
						margin-right: 0.938rem;
					}
					@include media-breakpoint-down(lg) {
						font-size: 1rem;
						img {
							margin-right: 0.5rem;
						}
					}
				}
			}
			hr {
				width: 0.188rem;
				height: 1.063rem;
				margin: 0 5.5rem;
				background: #d3d3d3;
				@include media-breakpoint-down(xl) {
					margin: 0 2rem;
				}
				@include media-breakpoint-down(lg) {
					margin: 0 1rem;
				}
			}
			@include media-breakpoint-down(md) {
				display: block;
				height: auto;
				margin-top: 3.125rem;
				border: none;
				&__item {
					a {
						margin-top: 0.625rem;
						padding: 0.938rem 1.875rem;
						border: 0.063rem solid #e9e9e9;
						border-radius: 0.625rem;
						font-size: 1rem;
						line-height: 1.5rem;
						img {
							width: 2.5rem;
							height: 2.5rem;
						}
					}
					&:first-child {
						a {
							margin-top: 0;
						}
					}
					&:last-child {
						display: none;
					}
				}
				hr {
					display: none;
				}
			}
		}
	}

	.find {
		width: 56.625rem;
		margin: 0 auto;
		padding: 4.375rem 0 0 0;
		@include media-breakpoint-down(lg) {
			width: 100%;
		}

		&-result {
			margin-top: 2.5rem;
			&__id {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				min-height: 9.75rem;
				padding: 1.875rem;
				background: #f8f8f8;
				border-radius: 1.25rem;
				text-align: center;
				font-weight: 500;
				font-size: 1.125rem;
				line-height: 1.688rem;
				color: #222222;
				p {
					margin-top: 0.625rem;
					font-weight: 700;
					font-size: 2.5rem;
					line-height: 3.688rem;
					color: #4f80ff;
				}
			}
			&__text {
				margin-top: 3.125rem;
				text-align: center;
				font-weight: 500;
				font-size: 1.125rem;
				line-height: 1.688rem;
				color: #666666;
			}
		}
	}
	.login {
		width: 31.875rem;
		margin: 0 auto;
		padding: 4.375rem 0 0 0;
		h1 {
			margin-bottom: 0.938rem;
			font-weight: 700;
			font-size: 2.25rem;
			line-height: 3.313rem;
			color: #222222;
		}
		&-title {
			font-weight: 500;
			font-size: 1.125rem;
			line-height: 2.125rem;
			color: #222222;
			text-align: center;
			word-break: keep-all;
		}
		&-form {
			margin-top: 4.063rem;
			border-top: 0.125rem solid #222;
			&__item {
				display: flex;
				align-items: center;
				padding: 1.125rem 0.625rem;
				border-bottom: 0.063rem solid #d9d9d9;
				label {
					min-width: 8.5rem;
					margin: 0;
					white-space: nowrap;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.688rem;
					color: #222222;
				}
			}
		}
		&-save {
			padding: 1.875rem 0.625rem 3.125rem;
		}
		&-button {
			text-align: center;
			.btn {
				min-width: 14.375rem;
			}
		}
		&-menu {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 2.25rem;
			.btn-link {
				color: #666;
			}
			hr {
				width: 0.063rem;
				height: 1rem;
				margin: 0 0.375rem;
				background: #666;
			}
		}
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
	.join {
		width: 56.625rem;
		margin: 0 auto;
		padding: 4.375rem 0 0 0;
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
		&-nav {
			position: relative;
			background: #ffffff;
			border: 0.063rem solid #ececec;
			border-radius: 0.625rem;
			ul {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 1.688rem 0;
				li {
					font-weight: 700;
					font-size: 1.125rem;
					line-height: 1.625rem;
					text-align: center;
					color: #999999;
					&:after {
						content: "\F138";
						display: inline-block;
						margin: 0 4.594rem;
						font-family: bootstrap-icons !important;
						font-style: normal;
						font-weight: normal !important;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						vertical-align: -0.125em;
						-webkit-font-smoothing: antialiased;
						color: #999999;
					}
					&.active {
						color: #3766de;
					}
					&:last-child {
						&::after {
							display: none;
						}
					}
				}
			}
			@include media-breakpoint-down(lg) {
				ul {
					li {
						span {
							display: none;
						}
						&:after {
							margin: 0 2.2rem;
						}
					}
				}
			}
		}
		&-agree {
			&__check {
				padding: 2.125rem 2.5rem;
				border-top: 0.063rem solid #ececec;
				@include media-breakpoint-down(md) {
					padding: 1.25rem 1.25rem;
				}
			}
			&__text {
				padding: 0 2.5rem 2rem;
				@include media-breakpoint-down(md) {
					padding: 0 1.25rem 1.25rem;
				}
			}
			dl {
				border: 0.063rem solid #ececec;
				border-top: none;
				dt {
					font-weight: 400;
				}
				dd {
				}
				textarea {
					width: 100%;
					height: 10rem;
					padding: 1.875rem;
					background: #f8f8f8;
					border: none;
					font-size: 0.875rem;
					line-height: 1.5;
				}
			}
		}
		&-certification {
			display: flex;
			dl {
				width: 100%;
				&:first-child {
					margin-right: 0.75rem;
				}
				&:last-child {
					margin-left: 0.75rem;
				}
				dd {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 17.375rem;
					margin-bottom: 3.125rem;
					background: #ffffff;
					border: 0.063rem solid #ececec;
					border-radius: 0.625rem;
					text-align: center;
					@include media-breakpoint-down(md) {
						img {
							width: 5rem;
						}
					}
				}
				dt {
					text-align: center;
					.btn {
						min-width: 14.375rem;
						@include media-breakpoint-down(md) {
							width: 100%;
						}
					}
				}
			}
		}
		&-result {
			margin-top: 3.125rem;
			&__title {
				padding: 3.25rem 1.875rem;
				background: #f8f8f8;
				border-radius: 1.25rem;
				text-align: center;
				font-weight: 700;
				font-size: 2.25rem;
				line-height: 3.313rem;
				color: #222222;
				word-break: keep-all;
			}
			&__text {
				margin-top: 3.125rem;
				text-align: center;
				font-weight: 500;
				font-size: 1.125rem;
				line-height: 1.688rem;
				color: #666666;
			}
		}
		&-button {
			display: flex;
			justify-content: center;
			margin-top: 3.125rem;
			text-align: center;

			.btn {
				min-width: 14.375rem;
				margin: 0 0.563rem;
				@include media-breakpoint-down(md) {
					//width: 100%;
				}
			}
		}

		&-caution {
			font-size: 1rem;
			line-height: 1.5rem;
			color: #666666;
			p {
				font-size: 1rem;
				line-height: 1.5rem;
				color: #666666;
			}
			&__box {
				padding: 1.875rem;
				background: #f8f8f8;
				border-radius: 0.625rem;
				font-weight: 700;
				color: #222;
			}
			strong {
				color: #222;
			}
			.line {
				position: relative;
				text-decoration: underline;
				text-decoration-color: #95ff63;
				text-decoration-thickness: 0.188rem;
				text-underline-position: auto;
			}
		}
	}
	.introduction {
		width: 100%;
		max-width: 56.625rem;
		padding: 4.375rem 0 0 0;
		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			h1 {
				margin: 0;
			}
		}
	}
	.mypage {
		width: 100%;
		max-width: 56.625rem;
		padding: 4.375rem 0 0 0;
		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			h1 {
				margin: 0;
			}
		}
		&-text {
			h4 {
				margin-bottom: 1.875rem;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 2.25rem;
				color: #222222;
			}
			dl {
				margin-bottom: 2.5rem;
				&:last-child {
					margin-bottom: 0;
				}
				dt {
					margin-bottom: 1.063rem;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.688rem;
					color: #222222;
					word-break: keep-all;
				}
				dd {
					font-weight: 300;
					font-size: 1rem;
					line-height: 1.5rem;
					color: #222222;
					word-break: keep-all;
				}
			}
		}
	}
	.curriculum {
		width: 100%;
		max-width: 56.625rem;
		padding: 4.375rem 0 0 0;
		.line {
			position: relative;
			text-decoration: underline;
			text-decoration-color: #95ff63;
			text-decoration-thickness: 0.188rem;
			text-underline-position: auto;
		}
		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			h1 {
				margin: 0;
			}
			@include media-breakpoint-down(md) {
				flex-direction: column-reverse;
				align-items: flex-start;
				justify-content: flex-start;
				h1 {
					margin-top: 0.625rem;
				}
			}
		}
		&-result {
			margin-top: 2.5rem;
			&__id {
				padding: 3.25rem 1.875rem;
				background: #f8f8f8;
				border-radius: 1.25rem;
				text-align: center;
				font-weight: 700;
				font-size: 2.25rem;
				line-height: 3.313rem;
			}
			&__text {
				margin-top: 3.125rem;
				text-align: center;
				font-weight: 500;
				font-size: 1.125rem;
				line-height: 1.688rem;
				color: #666666;
			}
		}
		&-map {
			border: 0.063rem solid #d9d9d9;
		}
		&-pay {
			ul {
				li {
					display: flex;
					align-items: center;
					margin-top: 1.25rem;
					padding: 2.5rem;
					background: #ffffff;
					border: 0.063rem solid #ececec;
					border-radius: 0.625rem;
					cursor: pointer;
					transition: all 0.1s ease;
					&:first-child {
						margin-top: 0;
					}
					h6 {
						display: flex;
						align-items: center;
						min-width: 18.5rem;
						width: 18.5rem;
						margin: 0;
						img {
							margin-right: 1.875rem;
						}
					}
					p {
						word-break: keep-all;
						color: #666;
					}
					&.active,
					&:hover {
						border-color: #3766de;
					}
					@include media-breakpoint-down(md) {
						display: block;
						h6 {
							width: auto;
							margin-bottom: 0.625rem;
							img {
								width: 1.875rem;
								margin-right: 0.625rem;
							}
						}
					}
				}
			}
		}
		&-detail {
			h4 {
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 2.188rem;
				color: #222222;
				word-break: keep-all;
			}
			> dl {
				display: flex;
				margin-bottom: 1.6rem;
				> dt {
					display: flex;
					min-width: 7.125rem;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.625rem;
					color: #222222;
					word-break: keep-all;
					&::before {
						content: "-";
						display: block;
						margin-right: 0.375rem;
					}
				}
				> dd {
					> p {
						font-weight: 400;
						font-size: 1.125rem;
						line-height: 1.625rem;
						color: #666666;
					}
				}
				@include media-breakpoint-down(md) {
					display: block;
					> dt {
						margin-bottom: 5px;
					}
					> dd {
						> p {
							margin-left: 8px;
							padding: 0 !important;
						}
					}
				}
			}
			.schedule {
				&__region {
					margin: 1.875rem 0;
					&-tab {
						display: flex;
						align-items: center;
						height: 3.125rem;
						background: #ffffff;

						span {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 100%;
							height: 100%;
							border: 0.063rem solid #ececec;
							border-left: none;
							font-weight: 500;
							font-size: 1rem;
							line-height: 1.5rem;
							text-align: center;
							color: #999999;
							overflow: hidden;
							&:hover {
								color: #666;
							}
							cursor: pointer;
							&:last-child {
								border-radius: 0 0.313rem 0.313rem 0;
							}
							&:first-child {
								border-left: 0.063rem solid #ececec;
								border-radius: 0.313rem 0 0 0.313rem;
							}
							&.active {
								border-color: #4f80ff;
								background: #4f80ff;
								color: #fff;
							}
						}
					}
					&-title {
						font-size: 1rem;
						margin-bottom: 0.625rem;
					}
				}
				&__calendar {
					* {
						font-size: 0.813rem;
					}
					a {
						color: #222;
					}
				}
			}
			.fc-toolbar-title {
				font-weight: 500;
				font-size: 1rem;
				line-height: 1.5rem;
				color: #222222;
			}
			.fc-today-button {
				height: 2.5rem;
				border-radius: 0.313rem;
				background: #3766de;
				border: none;
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.5rem;
				text-align: center;
				color: #ffffff;
			}
			.fc-prev-button,
			.fc-next-button {
				width: 2.375rem;
				height: 2.5rem;
				border-radius: 0.313rem;
				background: none;
				border: 0.063rem solid #3766de;
				color: #3766de;
				&:hover,
				&:active {
					border-color: #3766de !important;
					background: #3766de !important;
					color: #fff !important;
				}
			}
			.fc-event-title {
				padding: 0.313rem;
				white-space: normal;
				line-height: 1.2;
				word-break: keep-all;
			}

			@include media-breakpoint-down(md) {
				.fc-view-harness {
					display: none;
				}
				#calendar {
					height: 2.5rem !important;
				}
			}
			.mobile__table-none {
				margin-bottom: 1.875rem;
				padding: 0.625rem 0;
				border-top: 0.063rem solid #afafaf;
				overflow: hidden;
				font-size: 0.813rem;
				line-height: 1.5;
				word-break: keep-all;
				color: #333;
			}
			.mobile__table-item dl {
				margin-bottom: 1.25rem;
			}
			.mobile__table-item dl dt {
				font-size: 1rem;
				margin-bottom: 0.313rem;
			}
			.mobile__table-item dl dd {
				padding: 0.75rem;
				border: 0.063rem solid #ddd;
				border-radius: 0.313rem;
				overflow: hidden;
			}
			.mobile__table-item dl dd ul {
				margin: 0 0 0 0.625rem;
			}
			.mobile__table-item dl dd ul li {
				display: flex;
				margin-top: 0.313rem;
				font-size: 0.875rem;
				line-height: 1.5;
			}
			.mobile__table-item dl dd ul li:first-child {
				margin-top: 0;
			}
			.mobile__table-item dl dd ul li p {
				margin: 0;
			}
			.mobile__table-item dl dd ul li strong {
				min-width: 4.375rem;
				margin-right: 0.625rem;
				font-weight: 400;
				font-size: 0.813rem;
				white-space: noWrap;
			}
			.mobile__table-item-title {
				display: inline-block;
				margin-bottom: 0.938rem;
				padding: 0.125rem 0.625rem 0;
				border-radius: 0.25rem;
				font-size: 0.875rem;
				font-weight: 400;
				color: #3788d8;
				background-color: rgba(55, 136, 216, 0.1);
			}
			.mobile__table-item-btn {
				display: flex;
				margin: 0.75rem -0.75rem -0.75rem -0.75rem;
			}
			.mobile__table-item-btn button {
				width: 100%;
				border-radius: 0 !important;
			}
		}
	}
	.support {
		width: 100%;
		max-width: 56.625rem;
		padding: 4.375rem 0 0 0;
		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			h1 {
				margin: 0;
			}
			@include media-breakpoint-down(md) {
				flex-direction: column-reverse;
				align-items: flex-start;
				justify-content: flex-start;
				h1 {
					margin-top: 0.625rem;
				}
			}
		}
		&-search {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 1.25rem 2.5rem;
			background: #ffffff;
			border: 0.063rem solid #ececec;
			border-radius: 0.625rem;
			form {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 100%;
			}
			.form-select {
				width: 14.375rem;
			}
			.form-control {
				width: 22.5rem;
			}
		}
		&-view {
			border-top: 0.125rem solid #222;
			&__head {
				padding: 1.875rem 1.25rem;
				border-bottom: 0.063rem solid #d9d9d9;
				p {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 1.125rem 0 0 0;
					&:first-child {
						margin-top: 0;
					}
					strong {
						font-weight: 500;
						font-size: 1.125rem;
						line-height: 1.688rem;
						color: #222222;
					}
					span {
						font-weight: 400;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #999999;
					}
				}
			}
			&__contents {
				padding: 1.875rem 1.25rem;
				border-bottom: 0.063rem solid #d9d9d9;
				font-size: 1rem;
				line-height: 1.5rem;
				color: #666666;
			}
			&__foot {
				display: flex;
				align-items: center;
				padding: 1.875rem 1.25rem;
				border-bottom: 0.063rem solid #d9d9d9;
				&-title {
					font-weight: 500;
					font-size: 1rem;
					line-height: 1.5rem;
					color: #222222;
					margin-right: 3.125rem;
				}
				a {
					text-decoration: underline;
				}
			}
			&__button {
				display: flex;
				justify-content: center;
				margin-top: 3.125rem;
				text-align: center;
				.btn {
					min-width: 14.375rem;
					margin: 0 0.563rem;
				}
			}
		}
		&-faq {
			background: #ffffff;
			border: 0.063rem solid #ececec;
			border-radius: 0.625rem;
			overflow-x: auto;
			ul {
				display: flex;
				justify-content: space-between;
				li {
					width: 100%;
					min-width: 8.75rem;
					height: 8.75rem;
					text-align: center;
					border-left: 0.063rem solid #ececec;
					&:first-child {
						border-left: none;
					}
					a {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
						p {
							margin-top: 0.625rem;
							padding: 0 0.625rem;
							font-weight: 400;
							font-size: 1.125rem;
							line-height: 1.625rem;
							text-align: center;
							color: #999999;
							white-space: nowrap;
						}
					}
					&.active {
						a {
							p {
								color: #222222;
							}
						}
					}
				}
			}
		}
	}
	//component
	h1 {
		margin-bottom: 0.938rem;
		font-weight: 400;
		font-size: 2.25rem;
		line-height: 3.313rem;
		color: #222222;
	}
	.title {
		&-text {
			font-weight: 500;
			font-size: 1.125rem;
			line-height: 2.125rem;
			color: #222222;
		}
	}
	.text {
		&-example {
			position: relative;
			padding: 0 0 0 1.5rem;
			color: #666;
			&::before {
				display: block;
				content: "예)";
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.form {
		border-top: 0.125rem solid #222;
		&__item {
			display: flex;
			align-items: flex-start;
			padding: 1.125rem 0.625rem;
			border-bottom: 0.063rem solid #d9d9d9;
			> label {
				display: flex;
				align-items: center;
				min-width: 11.75rem;
				height: 3.125rem;
				margin: 0;
				white-space: nowrap;
				font-weight: 500;
				font-size: 1.125rem;
				line-height: 1.688rem;
				color: #222222;
				em {
					margin-right: 0.375rem;
					color: #d65050;
				}
			}
			@include media-breakpoint-down(md) {
				display: block;
				> label {
					width: 100%;
					height: auto;
					margin-bottom: 0.625rem;
				}
			}
		}
		&__email {
			display: flex;
			width: 100%;
			p {
				display: flex;
				align-items: center;
				width: 100%;
			}
			@include media-breakpoint-down(md) {
				display: block;
				.form-select {
					width: 100% !important;
					margin: 0.5rem 0 0 0 !important;
				}
			}
		}
		&__button {
			display: flex;
			justify-content: center;
			margin-top: 3.125rem;
			text-align: center;
			.btn {
				min-width: 14.375rem;
				margin: 0 0.563rem;
			}
		}
		&__address {
			width: 100%;
		}
		&-sm {
			.form {
				&__item {
					padding: 1.25rem;
					> label {
						display: flex;
						align-items: center;
						min-width: 6.375rem;
						height: 2.875rem;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #222222;
						em {
							margin-right: 0.375rem;
							color: #d65050;
						}
					}
					.form-control {
						font-size: 1rem;
					}
					@include media-breakpoint-down(md) {
						display: block;
					}
				}
				&__button {
					margin-top: 1.875rem;
					.btn {
						min-width: auto;
						margin: 0 0.563rem;
					}
				}
			}
		}
		&-search {
			display: flex;
			align-items: center;
			padding: 1.25rem 2.5rem;
			background: #ffffff;
			border: 0.063rem solid #ececec;
			border-radius: 0.625rem;
			form {
				display: flex;
				align-items: center;
				width: 100%;
			}
			&__title {
				margin-right: 4.25rem;
				white-space: nowrap;
				font-weight: 500;
				font-size: 1.125rem;
				line-height: 1.688rem;
				color: #222222;
			}
		}
	}
	.tab {
		.btn-outline-secondary {
			border-color: #ececec;
			color: #999;
			&:hover {
				background-color: #fff;
				color: #999;
			}
			&.active {
				background-color: #4f80ff;
				color: #fff;
			}
		}
	}
	.board {
		position: relative;
		width: 100%;
		@include media-breakpoint-down(md) {
			padding: 0 0 3.75rem 0;
		}
		&__title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1.25rem 0;
			border-bottom: 0.063rem solid #222;
			&-item {
				margin-right: 2.188rem;
				button {
					padding: 0;
					border: none;
					background: none;
					font-weight: 500;
					font-size: 1.5rem;
					line-height: 2.25rem;
					color: rgba(34, 34, 34, 0.5);
					&.active {
						color: #222222;
					}
				}
			}
			&-more {
				display: block;
				width: 2.25rem;
				height: 2.25rem;
				font-size: 0;
				&::before {
					content: "\F4FE";
					display: block;
					display: inline-block;
					font-family: bootstrap-icons !important;
					font-style: normal;
					font-weight: normal !important;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					vertical-align: -0.125em;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-size: 2.25rem;
					color: #222;
				}
			}
		}
		&__list {
			ul {
				li {
					padding: 1.563rem 0;
					border-bottom: 0.063rem solid rgba(0, 0, 0, 0.2);
					a {
						width: 100%;
						height: 100%;
						@include media-breakpoint-down(md) {
							display: block;
						}
					}
				}
			}
			&-text {
				margin-right: 3.75rem;
				@include media-breakpoint-down(md) {
					margin-right: 0;
				}
				strong {
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.688rem;
					color: #222222;
					@include text-clamp(1);
				}
				p {
					margin-top: 0.625rem;
					font-style: normal;
					font-weight: 300;
					font-size: 1rem;
					line-height: 1.5rem;
					color: #222222;
					@include text-clamp(1);
				}
			}
			&-date {
				margin-top: 0.625rem;
				font-weight: 300;
				font-size: 1rem;
				line-height: 1.5rem;
				color: #222222;
				@include media-breakpoint-down(md) {
					margin-top: 0.625rem;
				}
			}
		}
		&__tab {
		}
		&-sm {
			padding: 1.875rem 2.5rem;
			background: #ffffff;
			border: 0.063rem solid #ececec;
			border-radius: 0.625rem;
			.board {
				&__title {
					padding: 0;
					border-bottom: none;
					&-item {
						margin-right: 2.188rem;
						button {
							font-weight: 700;
							font-size: 1.125rem;
							line-height: 1.688rem;
							&.active {
								color: #222222;
							}
						}
					}
				}
				&__list {
					ul {
						li {
							position: relative;
							padding: 0 0 0 0.938rem;
							border-bottom: none;
							&::before {
								content: "";
								display: block;
								position: absolute;
								top: 0.625rem;
								left: 0;
								width: 0.313rem;
								height: 0.313rem;
								background: #4f80ff;
								border-radius: 0.313rem;
							}
						}
					}
					&-text {
						margin-right: 1.875;
						strong {
							font-weight: 500;
							font-size: 1.125rem;
							line-height: 1.688rem;
							color: #222222;
						}
						p {
							max-height: auto;
							margin-top: 0;
							font-style: normal;
							font-weight: 300;
							font-size: 1rem;
							line-height: 1.5rem;
							color: #222222;
							-webkit-line-clamp: 1;
						}
					}
				}
			}
		}
		&-view {
			border-top: 0.125rem solid #222;
			&__title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 1.563rem 1.25rem;
				border-bottom: 0.063rem solid #d9d9d9;
				p {
					display: flex;
					align-items: center;
					.badge {
						margin-right: 1.25rem;
					}
				}
				&-text {
					margin-right: 1.25rem;
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1.688rem;
					color: #222222;
				}

				&-date {
					font-size: 1rem;
					color: #999999;
				}
			}
			&__contents {
				padding: 1.875rem 1.25rem;
				border-bottom: 0.063rem solid #d9d9d9;
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.5rem;
				color: #666666;
			}
			&__reply {
				display: flex;
				padding: 1.625rem 1.25rem;
				background-color: #fafafa;
				border-bottom: 0.063rem solid #d9d9d9;
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.5rem;
				color: #666666;
				.badge {
					min-width: 5.5rem;
					margin-right: 1.25rem;
				}
				&-date {
					display: block;
					margin-top: 1.875rem;
					font-weight: 400;
					font-size: 1rem;
					line-height: 1.5rem;
					color: #999999;
				}
			}
			&__button {
				display: flex;
				justify-content: center;
				margin-top: 3.125rem;
				text-align: center;
				.btn {
					min-width: 14.375rem;
					margin: 0 0.563rem;
				}
			}
		}
		&:not(.board-sm) {
			.board {
				&__title {
					&-more {
						@include media-breakpoint-down(md) {
							position: absolute;
							left: 50%;
							bottom: 0;
							width: 2.5rem;
							height: 2.5rem;

							border-radius: 2.5rem;
							transform: translateX(-50%);
							background-color: #222;
							overflow: hidden;
							&::before {
								width: 100%;
								height: 100%;
								color: #fff;
								font-size: 2.5rem;
							}
						}
					}
				}
			}
		}
	}
	.list {
		&-type01 {
			> ul {
				padding: 1.875rem 2.5rem;
				background: #f8f8f8;
				border-radius: 0.625rem;
				@include media-breakpoint-down(md) {
					padding: 1.875rem 1.25rem;
				}
				li {
					position: relative;
					margin-top: 0.375rem;
					padding: 0 0 0 0.625rem;
					font-weight: 400;
					font-size: 1rem;
					line-height: 1.5rem;
					color: #666666;
					word-break: keep-all;
					&:first-child {
						margin-top: 0;
					}
					&::before {
						content: "-";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
					}
					ul {
						margin-top: 0.625rem;
						li {
							&::before {
								content: "*";
							}
						}
					}
					&.bullet-none {
						padding: 0;
						&:before {
							display: none;
						}
					}
				}
			}
		}
		&-type02 {
			h4 {
				margin-bottom: 1.5rem;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 2.25rem;
				color: #222222;
			}
			> ul {
				@include media-breakpoint-down(md) {
					padding: 1.875rem 1.25rem;
				}
				li {
					position: relative;
					margin-top: 0.375rem;
					padding: 0 0 0 0.625rem;
					font-weight: 400;
					font-size: 1rem;
					line-height: 1.5rem;
					color: #999;
					word-break: keep-all;
					&:first-child {
						margin-top: 0;
					}
					&::before {
						content: "-";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
					}
					ul {
						margin-top: 0.625rem;
						li {
							&::before {
								content: "*";
							}
						}
					}
					&.bullet-none {
						&:before {
							display: none;
						}
					}
				}
			}
		}
		&-type03 {
			ul {
				li {
					display: flex;
					padding: 1.25rem 0;
					border-bottom: 0.063rem solid #d9d9d9;
					h6 {
						min-width: 7.125rem;
						margin: 0;
						font-weight: 500;
						font-size: 1.125rem;
						line-height: 1.688rem;
						/* identical to box height */
						color: #222222;
					}
				}
			}
			p {
				display: flex;
				justify-content: space-between;
				width: calc(100% - 7.125rem);
			}
			&__text {
				display: flex;
				align-items: center;
				margin-right: 1.875rem;
				font-size: 1rem;
				line-height: 1.5rem;
				color: #666666;
				@include text-clamp(1);
				.badge {
					margin-right: 0.375rem;
				}
			}
			&__time {
				margin-right: 3.75rem;
				font-size: 1rem;
				line-height: 1.5rem;
				color: #666666;
			}
			@include media-breakpoint-down(md) {
				ul {
					li {
						h6 {
							min-width: 4rem;
						}
					}
				}
				p {
					width: calc(100% - 4rem);
				}
				&__time {
					margin-right: 0;
				}
			}
		}
	}
	.table {
		&-wrap {
			overflow-x: auto;
			@include media-breakpoint-down(md) {
				.table > :not(caption) > * > * {
					white-space: nowrap;
				}
			}
		}
		&-type01 {
			border-top: 0.125rem solid #222;
			border-bottom: 0.063rem solid #d9d9d9;
			padding: 1.25rem 1.25rem 1.875rem 1.25rem;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.5rem;
			color: #666666;
			table {
				width: 100%;
				tbody {
					th {
						padding: 0.625rem 1.875rem 0 0;
						font-weight: 500;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #222222;
						vertical-align: top;
					}
					td {
						padding: 0.625rem 0 0 0;
						font-weight: 400;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #666666;
					}
				}
			}
			&__button {
				display: flex;
				justify-content: center;
				margin-top: 3.125rem;
				text-align: center;
				.btn {
					min-width: 14.375rem;
					margin: 0 0.563rem;
				}
			}
		}
		&-type02 {
			padding: 1.875rem 2.5rem;
			border: 0.063rem solid #ececec;
			border-radius: 0.625rem;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.5rem;
			color: #666666;
			table {
				tbody {
					th {
						height: 2.5rem;
						padding: 0.438rem 3.438rem 0 0;
						font-weight: 500;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #222222;
						vertical-align: top;
					}
					td {
						height: 2.5rem;
						font-weight: 400;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #666666;
						.btn {
							min-width: 3.75rem;
						}
					}
					@include media-breakpoint-down(lg) {
						th,
						td {
							display: block;
							height: auto;
						}
						th {
							margin-bottom: 0.313rem;
						}
						td {
							margin-bottom: 0.625rem;
						}
					}
				}
			}
			&__button {
				display: flex;
				justify-content: center;
				margin-top: 1.875rem;
				text-align: center;
				.btn {
					min-width: 11.25rem;
					margin: 0 0.563rem;
				}
				@include media-breakpoint-down(lg) {
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 0.625rem;
					.btn {
						min-width: 100%;
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}
	.accordion {
		border-top: 0.125rem solid #222222;
		&-item {
			border: none;
			border-bottom: 0.063rem solid #d9d9d9;
			border-radius: 0;
		}
		&-button {
			border-radius: 0 !important;
			font-weight: 400;
			font-size: 1.125rem;
			line-height: 1.625rem;
			color: #222222;
			strong {
				margin-right: 3.125rem;
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.438rem;
				/* identical to box height */

				text-align: center;

				/* #666666 */

				color: #666666;
			}

			p {
				margin-right: 2.5rem;
				@include text-clamp(1);
			}
			&:not(.collapsed) {
				background: none;
				p {
					color: #3766de;
					display: block;
					text-overflow: clip;
					overflow: visible;
					white-space: normal;
				}
			}
		}
		&-body {
			padding: 2.188rem 5rem;
			background: #fafafa;
			font-style: normal;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.438rem;
			color: #666666;
		}
	}
	.pagination {
		.page-link {
			padding: 0.75rem 1.375rem;
			border-color: #ececec;
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.438rem;
			text-align: center;
			color: #999999;
		}
		.page-item {
			&.active {
				.page-link {
					color: #fff;
				}
			}
			&:first-child .page-link {
				padding-left: 0.875rem;
				padding-right: 0.875rem;
				border-top-left-radius: 0.313rem;
				border-bottom-left-radius: 0.313rem;
			}
			&:last-child .page-link {
				padding-left: 0.875rem;
				padding-right: 0.875rem;
				border-top-right-radius: 0.313rem;
				border-bottom-right-radius: 0.313rem;
			}
		}
	}
}
.inipay_modal.fade {
	opacity: 1 !important;
}
